################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ControleGastos/CopilotIndices/17.14.1518.61961
.vs/ControleGastos/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/ControleGastos/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/ControleGastos/DesignTimeBuild/.dtbcache.v2
.vs/ControleGastos/FileContentIndex/0fe3690c-31de-48dd-87d0-006bb360d645.vsidx
.vs/ControleGastos/FileContentIndex/1b8d3b3a-5d33-4ff3-9b67-4fb2fd0a558f.vsidx
.vs/ControleGastos/FileContentIndex/2bd117e5-0928-4c49-97b6-fbd4aa08396a.vsidx
.vs/ControleGastos/FileContentIndex/5cfdb5cc-4e04-4fc0-9f7a-798c56b17e8e.vsidx
.vs/ControleGastos/FileContentIndex/8e38a72c-fcc2-4590-ace8-8e8b57488032.vsidx
.vs/ControleGastos/FileContentIndex/50b9e3cc-2b3e-432a-8e68-d58a6530f819.vsidx
.vs/ControleGastos/FileContentIndex/cd8f64fe-2da9-429f-9a62-aa275e7c907e.vsidx
.vs/ControleGastos/FileContentIndex/d5b7d162-d8cb-40ec-a512-bf5c5ec941e8.vsidx
.vs/ControleGastos/FileContentIndex/f1e34fc2-8145-48d6-aec3-a0b0a5004227.vsidx
.vs/ControleGastos/FileContentIndex/f9e12763-ef9a-4021-a5c2-5ac8d7176428.vsidx
.vs/ControleGastos/v17/.futdcache.v2
.vs/ControleGastos/v17/.suo
.vs/ControleGastos/v17/DocumentLayout.backup.json
.vs/ControleGastos/v17/DocumentLayout.json
.vs/ProjectEvaluation/controlegastos.metadata.v9.bin
.vs/ProjectEvaluation/controlegastos.projects.v9.bin
.vs/ProjectEvaluation/controlegastos.strings.v9.bin
.vs/ControleGastos/FileContentIndex/a6c20b5d-86a6-4092-bfb2-33d6b43aeee9.vsidx
ControleGastos.Api/obj/Debug/net6.0/ControleGastos.Api.AssemblyInfo.cs
ControleGastos.Api/obj/Debug/net6.0/ControleGastos.Api.AssemblyInfoInputs.cache
